@font-face {
    font-family: 'true-thai';
    src: url('../fonts/ttmsp-webfont.eot');
    src: url('../fonts/ttmsp-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ttmsp-webfont.woff2') format('woff2'),
        url('../fonts/ttmsp-webfont.woff') format('woff'),
        url('../fonts/ttmsp-webfont.ttf') format('truetype'),
        url('../fonts/ttmsp-webfont.svg#true-thaimedium_spregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

div#i_containTab{
	position:relative;
	display:block;
	width:100%; /* กำหนดความกว้างทั้งหมด   */
	/*border:1px solid #CCC;*/
}
ul#navi_containTab{
	list-style:none;
	padding:0;
	margin:0;	
	width:100%;
	margin-left:0px;
	height:30px;
}
ul#navi_containTab li span {
	font-size:14px;
}
ul#navi_containTab li.active{
	display:block;
	float:left;
	height:35px;	
	padding-left:15px;
	padding-right:15px;
	width:156px;
	  /* กำหนดความกว้างทั้งหมด  หารด้วยจำนวนเมนูแท็บ  */
	/*border:0px solid #CCC;*/
	line-height:35px;
	cursor:pointer;
	text-align:center;
	/*border-top-left-radius:5px;
	border-top-right-radius:5px;*/
	background: #fff;
	margin-right:0px;
	color: #333;
	font-size:20px;
	
	/*-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;*/
	
	font-family:true-thai;
	/*text-shadow: #999 1px 1px 0px;*/
	}
ul#navi_containTab li{
	width:158px;
	display:block;
	float:left;
	height:35px;	
	padding-left:15px;
	padding-right:15px;  /* กำหนดความกว้างทั้งหมด  หารด้วยจำนวนเมนูแท็บ  */
	/*border:0px solid #CCC;*/
	line-height:35px;
	cursor:pointer;
	text-align:center;
	/*border-top-left-radius:5px;
	border-top-right-radius:5px;*/
	background: #e4e4e4;
	margin-right:0px;
	
	color:#555;
	font-size:20px;
	
	/*-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;*/
	
	font-family:true-thai;
	/*text-shadow: #999 1px 1px 0px;*/
}
ul#navi_containTab li:hover{
	/*border-top: #ff91b5 3px solid;*/
	background:#fff;
	/*-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;*/
	}
	

/* class รูปแบบของแต่ละเมนู */
#navi_containTab .tabNavi1{
	/*background-color:#fde3c4;	*/
}
#navi_containTab .tabNavi2{
	/*background-color:#fee8cc;	*/	
}
#navi_containTab .tabNavi3{
	/*background-color:#fee8cc;	*/	
}
#navi_containTab .tabNavi4{
	/*background-color:#fee8cc;	*/	
}
#navi_containTab .tabNavi5{
	/*background-color:#fee8cc;	*/	
}

ul#detail_containTab{
	list-style:none;
	padding:0;
	margin:0;	
	width:100%;	
}
ul#detail_containTab li{
	float:left;
	width:100%;
	padding:5px;
	/*border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-right-radius:10px;
	border-top-left-radius: 10px;*/
}
ul#detail_containTab li a{color: ;}
ul#detail_containTab li a:hover{color:#333;}
ul#detail_containTab li img{border:none; margin:0px;}
/* class รูปแบบของแต่ละเนื้อหา */
/*ul#detail_containTab .detailContent1{
background: #eef0f0;
	display:block;
}
ul#detail_containTab .detailContent2{
background: #eef0f0;
	display:none;
}
ul#detail_containTab .detailContent3{
background: #eef0f0;
	display:none;
}
ul#detail_containTab .detailContent4{
background: #eef0f0;
	display:none;
}
ul#detail_containTab .detailContent5{
background: #eef0f0;
	display:none;
}*/

ul#detail_containTab a{
	color:#666;
}
ul#detail_containTab .detailContent1{
background: #fff;
	display:block;
    height: 200px;
}
ul#detail_containTab .detailContent2{
background: #fff;
	display:none;
    height: 200px;
}
ul#detail_containTab .detailContent3{
background: #fff;
	display:none;
    height: 200px;
}
ul#detail_containTab .detailContent4{
background: #fff;
	display:none;
    height: 200px;
}
ul#detail_containTab .detailContent5{
background: #fff;
	display:none;
}